In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('dadosoficina01.txt')

Qual a média e desvio padrão do consumo de cerveja, licor, vinho e total de álcool?

In [7]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [8]:
# Média do consumo de cerveja
df['beer_servings'].mean()

106.16062176165804

In [9]:
# Desvio padrão do consumo de cerveja
df['beer_servings'].std()

101.1431025393134

In [10]:
# Média do consumo de licor
df['spirit_servings'].mean()

80.99481865284974

In [11]:
# Desvio padrão do consumo de licor
df['spirit_servings'].std()

88.2843121096862

In [12]:
# Média do consumo de vinho
df['wine_servings'].mean()

49.45077720207254

In [13]:
# Desvio padrão do consumo de vinho
df['wine_servings'].std()

79.6975984576301

In [14]:
# Média do consumo total de álcool
df['total_litres_of_pure_alcohol'].mean()

4.717098445595855

In [15]:
# Desvio padrão do consumo total de álcool
df['total_litres_of_pure_alcohol'].std()

3.7732981643560835

Qual o consumo de licor na França?

In [25]:
df[df['country'] == 'France']['spirit_servings']

61    151
Name: spirit_servings, dtype: int64

Quais os 5 países nos quais se consome mais vinho?

In [28]:
df.sort_values(by = 'wine_servings', ascending = False).head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
61,France,127,151,370,11.8
136,Portugal,194,67,339,11.0
3,Andorra,245,138,312,12.4
166,Switzerland,185,100,280,10.2
48,Denmark,224,81,278,10.4

Quais os países nos quais o consumo de cerveja está acima da média?

In [29]:
df[df['beer_servings'] >= df['beer_servings'].mean()]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
6,Argentina,193,25,221,8.3
8,Australia,261,72,212,10.4
9,Austria,279,75,191,9.7
...,...,...,...,...,...
182,United Kingdom,219,126,195,10.4
184,USA,249,158,84,8.7
185,Uruguay,115,35,220,6.6
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0

Quais países nos quais o consumo total de álcool está acima do Brasil, em ordem do menor para o maior?

In [31]:
df.sort_values(by = 'total_litres_of_pure_alcohol') df[df['country'] == 'Brazil']['total_litres_of_pure_alcohol']

C:\Users\user\AppData\Local\Temp\ipykernel_11316\2975843930.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  df.sort_values(by = 'total_litres_of_pure_alcohol') >= df[df['country'] == 'Brazil']['total_litres_of_pure_alcohol']

,23,beer_servings,country,spirit_servings,total_litres_of_pure_alcohol,wine_servings
0,False,False,False,False,False,False
147,False,False,False,False,False,False
128,False,False,False,False,False,False
46,False,False,False,False,False,False
13,False,False,False,False,False,False
...,...,...,...,...,...,...
45,False,False,False,False,False,False
68,False,False,False,False,False,False
3,False,False,False,False,False,False
98,False,False,False,False,False,False
15,False,False,False,False,False,False