In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('drinks.txt')

Qual a média e desvio padrão do consumo de cerveja, licor, vinho e total de álcool?

In [3]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [4]:
# Média do consumo de cerveja
df['beer_servings'].mean()

106.16062176165804

In [5]:
# Desvio padrão do consumo de cerveja
df['beer_servings'].std()

101.1431025393134

In [6]:
# Média do consumo de licor
df['spirit_servings'].mean()

80.99481865284974

In [7]:
# Desvio padrão do consumo de licor
df['spirit_servings'].std()

88.2843121096862

In [8]:
# Média do consumo de vinho
df['wine_servings'].mean()

49.45077720207254

In [9]:
# Desvio padrão do consumo de vinho
df['wine_servings'].std()

79.6975984576301

In [10]:
# Média do consumo total de álcool
df['total_litres_of_pure_alcohol'].mean()

4.717098445595855

In [11]:
# Desvio padrão do consumo total de álcool
df['total_litres_of_pure_alcohol'].std()

3.7732981643560835

Qual o consumo de licor na França?

In [12]:
df[df['country'] == 'France']['spirit_servings']

61    151
Name: spirit_servings, dtype: int64

Quais os 5 países nos quais se consome mais vinho?

In [37]:
df.sort_values(by = 'wine_servings', ascending = False).head(5).country

61          France
136       Portugal
3          Andorra
166    Switzerland
48         Denmark
Name: country, dtype: object

Quais os países nos quais o consumo de cerveja está acima da média?

In [31]:
#print(df[df['beer_servings'] >= df['beer_servings'].mean()].country)

countries_beer = df[df['beer_servings'] >= df['beer_servings'].mean()].country

print(countries_beer)

3             Andorra
4              Angola
6           Argentina
8           Australia
9             Austria
            ...
182    United Kingdom
184               USA
185           Uruguay
188         Venezuela
189           Vietnam
Name: country, Length: 76, dtype: object

Quais países nos quais o consumo total de álcool está acima do Brasil, em ordem do menor para o maior?

In [39]:
total_Brazil = df[df['country'] == 'Brazil']['total_litres_of_pure_alcohol']

23    7.2
Name: total_litres_of_pure_alcohol, dtype: float64

In [42]:
df[df['total_litres_of_pure_alcohol'] >= float(total_Brazil)].country

3                 Andorra
6               Argentina
8               Australia
9                 Austria
15                Belarus
16                Belgium
23                 Brazil
25               Bulgaria
32                 Canada
35                  Chile
42                Croatia
44                 Cyprus
45         Czech Republic
48                Denmark
57                Estonia
60                Finland
61                 France
62                  Gabon
65                Germany
67                 Greece
68                Grenada
75                Hungary
81                Ireland
93                 Latvia
98              Lithuania
99             Luxembourg
120           Netherlands
121           New Zealand
124               Nigeria
130                Panama
132              Paraguay
135                Poland
136              Portugal
138           South Korea
140               Romania
141    Russian Federation
143     St. Kitts & Nevis
144             St. Lucia
151                Serbia
155              Slovakia
156              Slovenia
159          South Africa
160                 Spain
165                Sweden
166           Switzerland
179                Uganda
180               Ukraine
182        United Kingdom
184                   USA
188             Venezuela
Name: country, dtype: object